<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Pedidos</h1>
                </div>
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número:</th>
                                <th>Valor:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pedidos.forEach(pedido=> { %>
                                <tr>
                                    <td><img width="30px" src="imgs/order.png" alt="Pedidos"></td>
                                    <td>
                                        <%= pedido.numero %>
                                    </td>
                                    <td>
                                        <%= pedido.valor.toLocaleString('pt-br', {style: 'currency' , currency: 'BRL' })
                                            %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%- include ('partials/footer.ejs') %>