<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Alterar cliente</h1>
                    <hr>
                </div>
                <div class="card-body">
                    <form action="/clientes/update/<%= cliente._id %>" method="POST">
                        <label>Nome do cliente:</label>
                        <input type="text" name="nome" id="nome" class="form-control" value="<%= cliente.nome %>"
                            required>
                        <label>CPF:</label>
                        <input type="text" name="cpf" id="cpf" class="form-control" value="<%= cliente.cpf %>" required>
                        <% cliente.enderecos.forEach(endereco=> { %>
                            <label>Rua:</label>
                            <input type="text" name="rua" id="rua" class="form-control" value="<%= endereco.rua %>"
                                required>
                            <label>Número:</label>
                            <input type="text" name="numero" id="numero" class="form-control"
                                value="<%= endereco.numero %>" required>
                            <label>Bairro:</label>
                            <input type="text" name="bairro" id="bairro" class="form-control"
                                value="<%= endereco.bairro %>" required>
                            <% }) %>
                                <input type="hidden" name="id" value="<%= cliente._id %>">
                                <br>
                                <input type="submit" class="btn btn-warning" value="Alterar"
                                    onclick="return confirm('Confirma as alterações?')">
                    </form>
                </div>
            </div>
        </div>

        <%- include ('partials/footer.ejs') %>