<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Produtos</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Nome:</th>
                            <th>Preço:</th>
                            <th>Categoria:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% produtos.forEach(produto => { %>
                        <tr>
                            <td><%= produto.nome %></td>
                            <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><%= produto.categoria %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
