<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar cliente</h1>
            <hr>
            <form method="POST" action="/clientes/update/<%= cliente.id %>">
                <label>Nome do cliente:</label>
                <input type="text" name="nome" id="nome" value="<%= cliente.nome %>" class="form-control" required>
                                
                <label>CPF do cliente:</label>
                <input type="text" name="cpf" id="cpf" value="<%= cliente.cpf %>" class="form-control cpf" required>
                
                <label>Endereço do cliente:</label>
                <input type="text" name="endereco" id="endereco" value="<%= cliente.endereco %>" class="form-control" required>
                <br>
                <input type="hidden" name="id" value="<%= cliente.id %>">
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações realizadas para o cliente <%= cliente.nome %>?')">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>
<%- include ('partials/footer.ejs') %>