<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Edição de categoria</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/update">
                <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>">
                <input type="hidden" name="id" value="<%= category.id %>">
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>